export SLACK_LOG_LEVEL="DEBUG"
export SLACK_LOG_FORMAT="TEXT"
export SLACK_APP_TOKEN=""
export SLACK_BOT_TOKEN=""

export AGENT_OPENAI_API_KEY=""
export AGENT_MODEL_BASE_URL=""
export AGENT_MODEL_NAME="openai/gpt-oss-120b"
